<!DOCTYPE html>
<html>
    <head>
        <title>Personal Portfolio</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        #banner {
            height: 250px;
            width: 900px;
            object-fit: cover;
        }
    </style>
    </head>
    <body>
        <div class="container">
        <h1 class="text-center mt-2 mb-4">{{company_name}}</h1>
        <img class="img-fluid" id="banner" src="http://192.168.1.19:5000/static/photo.jpg" width="800px" height="200px">
    
        <h2 class="text-center mt-2 mb-4">About Rohit Mukati</h2>
        <p class="lead" >
            Rohit Mukati is a dedicated student pursuing his Bachelor of Technology degree in Computer Science Engineering. He is currently in his second year of graduation and has shown immense passion and aptitude for the technical aspects of programming and databases.

Rohit has a strong foundation in programming languages such as Java, C++, and Python, which he has learned during his coursework. He has also acquired practical knowledge by working on various programming projects, including building a basic web application and creating a simple game.

Apart from programming, Rohit has a keen interest in databases and has a good understanding of SQL and NoSQL databases.
        </p>
        
        
        <h2 class="text-center mt-2 mb-4">EDUCATION</h2>
        <p>Information Technology || B.TECH .... 06/21  - present</p>
        <p>Vikrant Group Of Institutions</p>
        <p>Course : B Tech in INFORMATION TECHNOLOGY</p>

        <h2 class="text-center mt-2 mb-4">Experience</h2>
    <div>


        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
    </div>
     
    
        
        <div class="text-center">
            <button class="btn btn-primary btn-lg">Contact us</button>
            <p class="mt-4">copyright @2022 Rohit</p>
        </div>
        <div>
    </body>
</html>